
img{
	width:100%;
	height: auto;
}

header{
	display: none;
	justify-content: space-between;
}


#oculto{
	display: none;

}
oculto,div{
	width: 30%;
	height: auto;
}

#centrado{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30em;
	width: auto;
}

#iniciar{
	padding: 0.5em;
	font-weight: bold;
	color: lightyellow;
	background: black;
	border-radius: 0.2em;
}

#plata{
	display:none;
	margin-right: 0.5em;
}

#separación{
	display: flex;
	flex-direction: row;
}

