
img{
	width:100%;
	height: auto;
}
.dis{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	display: none;
}
header{
	display: none;

}
#oculto{
	display: none;

}
oculto,div{
	width: 30%;
	height: auto;
}

#centrado{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30em;
	width: auto;
}

#iniciar{
	
}